{% extends 'base.html' %} 
{% block title %}{{product.title}}{% endblock title %}
{% block body_content %}
        <div class="product-container" id="productapp">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
                <div class="flex flex-col md:flex-row -mx-4">
                    <div class="md:flex-1 px-4">
                        <div class="h-64 md:h-80 rounded-lg  mb-4">
                            {% if product.image %}
                                <div 
                                    class="h-64 md:h-80 rounded-lg  mb-4 flex items-center justify-center">
                                    <img class=" h-64 md:h-80 rounded-lg w-100   " :src="mainImage.image" alt="No image 01">
                                </div>
                            {% endif %}
                        </div>

                        <div class="flex -mx-2 mb-4">

                            


                            {% if product.images.all %}    
                                <div class="flex-1 px-2" v-for="image in images" v-bind:key="image.id">
                                    <button 
                                        class="focus:outline-none w-full rounded-lg h-24 md:h-32  flex items-center justify-center">
                                        <img class="  rounded-lg w-100   " :src="image.thumbnail" @click="changeMainImage(image)" alt="No image 01">
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>                      
                                
                    <div class="md:flex-1 px-4">
                        <h2 class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl">{{ product.title }}</h2>
                        <p class="text-gray-500 text-sm">By <a href="#" class="text-indigo-600 hover:underline">{{ product.vendor.name }}</a></p>

                        <div class="flex items-center space-x-4 my-4">
                            <div>
                                <div class="rounded-lg bg-gray-100 flex py-2 px-3">
                                    <span class="text-indigo-400 mr-1 mt-1">Rs.</span>
                                    <span class="font-bold text-indigo-600 text-3xl">{{product.price}}</span>
                                </div>
                            </div>
                            
                        </div>

                        <p class="text-gray-500">{{ product.description }}</p>

                        <div class="flex py-4 space-x-4">
                            <form class="row g-3 " method="post" action=".">
                                {% csrf_token %}
                                <div class="relative">
                                    <div
                                        class="text-center left-0 pt-2  right-0 absolute block text-xs uppercase text-gray-400 tracking-wide font-semibold">
                                        Qty</div>
                                    <select
                                        class="cursor-pointer appearance-none rounded-xl border border-gray-200 pl-4 pr-8 h-14 flex items-end pb-1 mb-2" name="quantity">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    
                                </div>
                                <button type="submit"
                                    class="flex items-center justify-center lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-secondary-color border-0 py-2 px-6 focus:outline-none hover:bg-secondary-color rounded">
                                    Add to Cart
                                </button>
                            </form>
                        </div>
                        {% if messages %} 
                            {% for message in messages %}
                            <div class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                <div class="toast-body">
                                    {{message}}
                                </div>
                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div>
                            {% endfor %} 
                        {% endif %} 
                    </div>  
                </div>
            </div>
        </div>
                                
        {% if product.similar_products %}
            <hr />
            <div class="card-body">similiar products</div>
                {% for product in similar_products %} 
                    {% include 'list_items.html' %} 
                {%endfor %} 
            </div>
        {% endif %} 

                            
                            
            



        



        

        
            
        
    

{% endblock body_content %}

{% block scripts %}
    {{ imagesstring|json_script:"json-imagesstring" }}
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const ProductApp = {
            data() {
                return {
                    mainImage: '',
                    images: []
                }
            },
            mounted() {
                this.images = JSON.parse(JSON.parse(document.getElementById("json-imagesstring").textContent))
                this.mainImage = this.images[0]
            },
            methods: {
                changeMainImage(image) {
                    this.mainImage = image
                }
            }
        }

        Vue.createApp(ProductApp).mount('#productapp')
    </script>
{% endblock scripts %}